.header {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.05) 80%, rgba(255, 255, 255, 0) 100%);
}

.logo {
  margin: 0;
  padding-right: 10px;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 70px;
  text-transform: uppercase;
  color: #fff;
}