.footer {
  height: 50px;
  padding: 10px 0;
  background-color: white;

  .title {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #47c3f0;
  }

  .copyright {
    font-size: 14px;
    letter-spacing: 1px;
    color: #525252;
    text-align: center;
  }
}
